/* Video.css */

.video-container {
  position: relative;
  width: 100%;
}

/* .video-heading {
  position: absolute;
  bottom: 10px;
  left: 0;
  z-index: 1;
  color: #000;
} */



.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  cursor: pointer;
}

.video {
  width: 100%;
}

/* Стили для скрытия контролов видео */
.video::-webkit-media-controls {
  display: none !important;
}
